body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body, #root {
	overflow: hidden;
	margin: 0px;
}

#__synth_selection {
	scroll-margin-bottom: 40vh;
}

.o-label--blcat-highlight {
  background-color: #FF7;
  border: 1px solid black;
  border-radius: 0.3em;
  padding: 0em 0.25em 0.1em 0.25em;
  margin: 0em 0.25em 0em 0.25em;
}

.o-label--meta-highlight {
  background: linear-gradient(to left, rgba(255, 196, 80, 0), rgba(255, 196, 80, 1));
  border-radius: 0.3em;
  padding: 0em 0.25em 0.1em 0.25em;
  margin: 0em 0.25em 0em 0.25em;
}
